/* .employee-home-page-container {
  padding: 20px;
  background-color: #f9f9f9; 
  color: #333; 
}

.ugreeting-carousel {
  max-width: 70%;
  max-height: 100%;
  margin: 0 auto;
  margin-top: 100px;
  padding: 1px;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 1);
}

.box-title {
  font-size: 1.8rem;
  margin-bottom: 0px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 50px;
}

.employee-info-box {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  margin-top: 20px; 
  border: 2px solid rgb(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.box-count {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  color: #000000; 
}

.total-working-hours-box {
  background-color: #d3e7fa; 
  color: #000000;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
  padding: 20px;
}

.total-clocked-in-box {
  background-color: #d1f5d0; 
  color: #000000;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
  padding: 20px;
}

.total-clocked-out-box {
  background-color: #ffd8dc; 
  color: #000000;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
  padding: 20px;
} */
